html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url('/images/hatter.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f5f5f5;
  font-family: 'Georgia', 'Times New Roman', serif;
}
